<div>
  {{#if data}}
    <h1 class="textProducts">Productos</h1>
    <div class="products-container" id="products">
    {{#each data}}
      <div class="card" style="width: 18rem;">
        <img src={{thumbnails}} class="card-img-top" alt="..." />
        <div class="card-body">
<!-- Muestra el título y precio del producto -->
          <h5 class="card-title">{{title}}</h5> 
          <p class="card-text">${{price}}</p> 
          <a href="#" class="btn btn-secundary">Add to cart</a> 
        </div>
      </div>
    {{/each}}
    </div>
  {{else}}
    No hay productos 
  {{/if}}
</div>
