<header>
    <a href="/views/session">Home</a>
    <a href="/views/session/logout">Cerrar Sesión</a>
</header>
<main>
    <h1>Usuario: {{first_name}} {{last_name}}</h1>
    <h2>edad: {{age}}</h2>
</main>
{{!-- <main>
    <div>
        <form action="/api/session/login" method="POST" id="formLogin">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <label for="password">Password:</label>
            <input type="text" name="password" id="password">
            <button >Enviar</button>
        </form>
    </div>
</main> --}}