<header>
    <a href="/views/session">Home</a>
</header>
<main>
    <form id="registerForm" method="post" action="/api/session/registro">
        <label for="first_name">Nombre</label>
            <input type="text" name="first_name" id="first_name">
        <label for="last_name">Apellido</label>
            <input type="text" name="last_name" id="last_name">
        <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        <label for="age">Fecha de Nacimiento:</label>
            <input type="date" min="0" max="99" name="age" id="age">
        <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">
        <button>Enviar</button>
    </form>
</main>